<h2 mat-dialog-title>See More details</h2>
<mat-dialog-content class="mat-typography">
  <label style="margin-bottom: 10px">
    Person In Charge: <b>{{ name }}</b>
  </label>
  <br />
  <label style="margin-bottom: 10px">
    Email: <b>{{ email }}</b>
  </label>
  <br />
  <label style="margin-bottom: 10px">
    Phone: <b>{{ phone }}</b>
  </label>
  <br />
  <label style="margin-bottom: 10px">
    Merchant Name: <b>{{ merchantName }}</b>
  </label>
  <br />
  <label style="margin-bottom: 10px">
    Company SSM Number: <b>{{ ssm }}</b>
  </label>
  <br />
  <label style="margin-bottom: 10px">
    Contract Signee Name: <b>{{ signeeName }}</b>
  </label>
  <br />
  <label style="margin-bottom: 10px">
    Contract Signee IC: <b>{{ signeeIC }}</b>
  </label>
  <br />
  <label style="margin-bottom: 10px">
    Business Type: <b>{{ businessType }}</b>
  </label>
  <br />
  <label style="margin-bottom: 10px">
    Address: <b>{{ fullAddress }}</b>
  </label>
  <br />
  <label style="margin-bottom: 10px">
    Business/Cruisine Category: <b>{{ businessCategory }}</b>
  </label>
  <br />
  <label style="margin-bottom: 10px">
    Status: <b>{{ status }}</b>
  </label>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
